<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CloudTraceServicePath" value="trace/WorkerRole_IN_0"/>
    <add key="CloudTraceServiceNamespace" value="YOURSERVICENAMESPACE"/>
    <add key="CloudTraceIssuerName" value="YOURISSUERNAME"/>
    <add key="CloudTraceIssuerSecret" value="YOURISSUERSECRET"/>
  </appSettings>
</configuration>